<h2 mat-dialog-title>Autor programu: Michał Daniluk</h2>
<mat-dialog-content class="mat-typography">
  <h3>Kilka słów o mnie.</h3>
  <p>Pracuję jako Frontend Developer oraz Fullstack Developer.</p>
  <p>Mój ulubiony język programowania to JavaScript oraz TypeScript, specjalizuje się w tworzeniu stron internetowych, aplikacji webowych w React, Vue, Angular.</p>
  <p>Po stronie backendu korzystuję PHP, ale ucze się Java i docelowo chcę tworzyć projekty w Angular 2+ i Java.</p>
  <p>Jestem autorem aplikacji:</p>
  <ul>
	<li>Webowa aplikacja do zarządzania firmą szkoleniową (Laravel) - Fullstack</li>
	<li>Webowa aplikacja CRM dla firmy handlowej (C# MVC) - Fullstack</li>
	<li>Strony internetowe (Laravel, React, Vue, Angular) - Fullstack</li>
	<li>Witryny e-commerce takie jak: MediaExpert, MediaMarkt, Avans (Vue, TS) - Frontend</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Zamnij okno</button>
</mat-dialog-actions>
