<mat-toolbar color="primary">
    <span><a routerLink=""><img src="/assets/images/logo.gif" alt="Logo"/></a></span>
    <span class="spacer"></span>
	<button *ngIf="isCountry" mat-raised-button routerLink="{{returnAdress}}" (click)="clearCountry()">Cofnij</button>
	<button *ngIf="isRegion && !isCountry" mat-raised-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="clearLocalStorage()">Cofnij</button>
	<button mat-raised-button routerLink="">Start</button>
	<button mat-raised-button routerLink="page/about" routerLinkActive="active">O programie</button>
	<button mat-raised-button (click)="showDialog()">O mnie</button>
  </mat-toolbar>
