<h2>O programie</h2>
<p>Aplikacja zbudowana w Angular 16, wykorzystuje:</p>
<ul>
	<li>Moduły,</li>
	<li>Angular Material,</li>
	<li>Pipe,</li>
	<li>Zapytania do REST API,</li>
	<li>RxJs i Observables,</li>
	<li>LocalStorage,</li>
	<li>LazyLoading,</li>
	<li>Routing,</li>
	<li>SCSS,</li>
	<li>Services,</li>
	<li>Lifecycle Hooks,</li>
	<li>NgRx,</li>
	<li>Angular Signals</li>
	<li>RWD</li>
</ul>

<p>Aplikacja jest pisana jakby była częścią duzego projektu, struktura zapewnia łatwą rozbudowę o nowe funkcjonalności.</p>
